{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-export-extensions",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-function-bind",
    "transform-async-generator-functions"
  ]
}
